@import url(https://yufg.vercel.app/style.css);
.actual_page_contents {
    height: 0em;
    margin-top: 0;
}
.gradient_rectangle {
    height: 5em;
}
@media only screen and (max-width: 800px) {
    .actual_page_contents {
        height: 0em;
        margin-top: 0;
    }
}